.wrapper {
  height: calc(100vh - var(--welcome-actions-height));
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    var(--welcome-bg-liner-start) 0%,
    var(--welcome-bg-liner-end) 100%
  );
  margin-bottom: var(--welcome-actions-height);
  > header {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #D4D4EE;
    padding-top: 32px;
    > img {
      width: 64px;
      height: 69px;
    }
  }
  > main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}